.card{
    margin-top: 10px;
    border: none;
    width: 500px;
    padding: 30px;
    height: 420px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: hsla(205,46%,30%,1);
    background: linear-gradient(90deg, hsla(205,46%,30%,1) 0%, hsla(260,29%,36%,1) 100%);
}
.text-center{
justify-content: center;
margin-left: 232px;
margin-top: -12px;
}
h4{
    margin-left: 140px;
    color: white;
    margin-top: -19px;
    position: relative;
}
.form-control{
    margin-top: 25px;
    margin-left: -85px;
    width: 400px;
    height: 20px;
    position: absolute;
}
.control1{
    margin-top: 25px;
    margin-left: -108px;
    width: 400px;
    height: 20px;
    position: absolute;
}
.form-label{
    color:chartreuse;
}
.form-text{
    margin-top: 40px;
    margin-left: -10px;
    width: 400px;
    height: 20px;
    position: absolute;
}
.mb-2{
margin-top: 50px;
display:flexbox;
}
.label2{
    margin-top: 50px;
     
}

.mb-1{
    margin-top: 60px;
}
.mb-0{
    margin-top: 50px;
}
.control0{
    margin-top: 30px;
    margin-left: -80px;
    width: 400px;
    height: 20px;
    position: absolute;
}
.control2{
    margin-top: 30px;
    margin-left: -120px;
    width: 400px;
    height: 20px;
    position: absolute;
}
.btn{
    margin-top: 60px;
    margin-left: -18px;
    width: 80px;
    height: 34px;
    background-color: blue;
    border: none;
}
a{
    margin-top: 12px;
    position: absolute;
    margin-left: -14px;
    color:aquamarine;
}